@media only screen and (max-width: 600px) {
  .navbar {
    background-color: #fff!important;
  }
  .topnav{
     background-color: #fff!important;
  }

  .carousel-control-next-icon{
    width: 30px!important;
    height: 30px!important;
  }

.carousel-control-prev-icon{
    width: 30px!important;
    height: 30px!important;
}

.hero-area{
  min-height: 790px;
}

.carousel-indicators{
  top: 469px;
}

.slider-img{
  margin: 0 0;
}

.greeting-text h1 {
    font-size: 35px;
    color: #323232;
}


.greeting-text{
  text-align: center;
}

.greeting-text p{
  font-size: 18px;
}

.button-contact{
  padding: 10px 16px;
    font-size: 16px;
}


.about-sec{
  margin-top: 30px;
}

.skill-text{
  text-align: center;
}

.skill-text h3{
  font-size: 23px;
}

.skill-text ul{
      text-align: left;
      margin-left: 20px;
}
.skill-text ul li{
  font-size: 14px;
}

.footer{
  padding: 20px 0 0 0;
}

.icon-button i {
    font-size: 0.9rem;
    height: 2rem;
    line-height: 2rem;
    width: 2rem;
    margin: 0 0px 7px;
}


.accordion-button {
    font-size: 18px!important;
}

.accordion-body p{
      font-size: 14px;
}




}


/*/////////////////new query/////////////////////*/


@media only screen and (max-width: 768px) {

.carousel-caption h1{
  font-size: 22px;
}

.carousel-control-next-icon {
    height: 28px !important;
    width: 28px !important;
  }


.carousel-control-prev-icon{
  height: 28px !important;
    width: 28px !important;
}  

.blue-bg{
  font-size: 14px;
}
.hero-area{
      min-height: 683px;
}

.carousel-indicators{
  top: 375px;
}
.greeting-text h1 {
    font-size: 35px;
    color: #323232;
}


.greeting-text p{
  font-size: 18px;
}

.button-contact{
  padding: 10px 16px;
    font-size: 16px;
}


.ptb{
  padding-top: 45px;
  padding-bottom: 45px;
}

.skill-text h3 {
    font-size: 22px;
    padding-top: 53px;
  }


.skill-text ul li {
    font-size: 14px;
    padding: 8px 0;
    margin-left: -32px;
}


footer h2{
  font-size: 20px;
}


footer p {
    color: #ddd;
    font-size: 12px;
}

.icon-button i {
    font-size: 0.9rem;
    height: 2rem;
    line-height: 2rem;
    width: 2rem;
    margin: 0 0px 7px;
}
#topnav{
  background-color: #fff;
}




}


@media only screen and (max-width: 1024px) {

.carousel-caption h1{
  font-size: 29px;
  margin-left: 32px;
}

.carousel-control-next-icon {
    height: 28px !important;
    width: 28px !important;
  }


.carousel-control-prev-icon{
  height: 28px !important;
    width: 28px !important;
}  

.blue-bg{
  font-size: 14px;
  margin-left: 35px;
}

.hero-area{
  min-height: 800px;
}

.greeting-text h1 {
    font-size: 45px;
}


.greeting-text p{
  font-size: 22px;
}

.button-contact{
  padding: 10px 16px;
    font-size: 16px;
}


.ptb{
  padding-top: 89px;
  padding-bottom: 45px;
}

.skill-text h3 {
    font-size: 27px;
    padding-top: 53px;
  }


.skill-text ul li {
    font-size: 17px;
    padding: 8px 0;
    margin-left: -32px;
}


footer h2{
  font-size: 25px;
}


footer p {
    color: #ddd;
    font-size: 14px;
}

.icon-button i {
    font-size: 0.9rem;
    height: 2rem;
    line-height: 2rem;
    width: 2rem;
    margin: 0 0px 7px;
}

}
