/* Common Styles */
body {
    font-family: 'Inter', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif; /* or 'Playfair Display', serif */
    font-weight: 700; /* Bold weight */
    color: #333333;
}

p {
    font-family: 'Roboto', sans-serif;  
    font-weight: 400;
    color: #6F6F6F;   
    font-size: 16px;  
    line-height: 1.6; 
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.ptb{
    padding-top: 93px;
    padding-bottom: 70px;
}

/* Common Styles */

/*Navigation    */

#topnav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background: #ffffff;
    border: 0;
    transition: all .5s ease;
    border-bottom: 1px solid #fefefe;
}

#topnav.nav-sticky {
    background: #ffffff;
    -webkit-box-shadow: 0 0 3px rgba(22, 28, 45, 0.15);
    box-shadow: 0 0 3px rgba(22, 28, 45, 0.15);
}

.navbar { 
    padding: 20px 20px;
    /*border-bottom: 1px solid #eaeaea;*/
}

/* Logo image size */
.logo-img {
    height: 40px;
    margin-right: 10px;
}

/* Customizing the navigation links */
.nav-link {
    font-size: 16px;
    margin-right: 20px;
    color: #333;
}

.nav-link:hover {
    color: #5c67f2; /* Change link color on hover */
}


/*//// banner ///*/

.bg-half-170 {
    padding: 170px 0;
}

.banner-title{
    font-size: 50px;
    /*padding: 84px 0px 32px 0;*/
}


.hero-area{
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    position: relative;
    /*padding: 70px 0;*/
    min-height: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.slider-img {
    border-radius: 100% 50% 50% 100% / 75% 69% 69% 75%;
    box-shadow: 2px 10px 0px 0px rgba(0, 0, 0, 0.16);
    overflow: hidden;
    margin: 20px auto;
}


.carousel-caption {
    position: relative;
    margin-top: 18%;
    left: 90px;
    text-align: left;
}

.carousel-caption h1 {
    margin-bottom: 30px;
    text-shadow: 2px 2px 1px #444;
    color: #fff;
    font-size: 43px;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
}

.delay-2 {
    animation-delay: .5s;
}
.blue-bg {
    background-color: rgba(116, 110, 203, 1) !important;
}

.carousel-control-next-icon{
    height: 50px !important;
    width: 50px !important;
    border: 1px solid #787878;
    border-radius: 28px;
    text-align: center;
    background-color: #746ecb;
}


.carousel-control-prev-icon{
    height: 50px !important;
    width: 50px !important;
    border: 1px solid #787878;
    border-radius: 28px;
    text-align: center;
    background-color: #746ecb;
}

.owl-nav{
    display: none;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: #66e0f6!important;
}

.owl-theme .owl-dots .owl-dot span {
    width: 16px!important;
    height: 16px!important;
}


/*banner}*/



/*Footer*/

.footer-bar {
    background: url(../img/footer-green.png) repeat-x;
    height: 40px;
}

footer p {
    color: #ddd;
}

.social-footer {
    padding-top: 27px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    display: inline-block;
    padding-bottom: 10px;
}

footer {
    background: #338727;
    padding-top: 20px;
}

/*Footer*/


/*about section*/


.greeting-text h1{
    font-size: 60px;
    color: #323232;
}


.greeting-text p{
    color: #333;
    font-size: 26px;
    padding: 43px 0 0 0;
}

.icon-button {
    margin-bottom: 10px;
}
.linkedin i {
    background-color: #0e76a8;
    transition: all .2s ease-in-out;
}

.icon-button i {
    border-radius: 2.6rem;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    height: 2.6rem;
    line-height: 2.6rem;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    width: 2.6rem;
    margin: 0 5px 10px;
}

.linkedin i:hover {
    color: #fff;
    box-shadow: 0 5px 15px #0e76a8;
}

.social-media-div {
    font-size: 2em;
    padding: 0px 0 20px 0;
}



.github i:hover {
    color: #fff;
    box-shadow: 0 5px 15px #333;
}
.github i {
    background-color: #333;
    transition: all .2s ease-in-out;
}

.google i:hover {
    color: #fff;
    box-shadow: 0 5px 15px #ea4335;
}
.google i {
    background-color: #ea4335;
    transition: all .2s ease-in-out;
}


.button-contact {
    color: #fff;
    border-radius: 0px;
    font-weight: 400;
    background-color: rgba(250, 54, 100, 1) !important;
    border: 1px solid #fa3664;
    padding: 14px 49px;
    font-size: 22px;

}

.skill-text ul li{
    font-size: 17px;
    padding: 8px 0;

}

.skill-text ul{
    list-style-type: none;

}

.skill-text h3
{
    font-size: 35px;
    font-weight: 100;
    padding-bottom: 25px;
}


.education-text .card-header{
background-color: #0bb3a3;
}

.education-text .card-header h5{
    font-size: 27px;
    color: #fff;
    padding: 12px 10px;

}

.education-text .card-header p{
    color: #fff;
    font-size: 18px;
    padding: 0px 0px 5px 11px;
}

.btn-website{
    float: right;
    font-size: 18px;
    padding: 7px 38px;
    border-radius: 0px;
    background-color: #ffaa18 !important;
    color: #fff;
}

.education-text .card-body p{
        font-size: 20px;
}


.banner-text h1{

}

.accordion-button:not(.collapsed){
    background-color: #0bb3a3;
    font-size: 27px;
    color: #fff;
    padding: 17px 15px;
}

.accordion-button{
    background-color: #0bb3a3;
    font-size: 27px;
    color: #fff;
    padding: 17px 15px;

}

.accordion-button:focus{
    background-color: #0bb3a3;
    font-size: 27px;
    color: #fff;
    padding: 17px 15px;
    border-color: #0bb3a3!important ;

}

#accordionFlushExample .accordion-button::after {
    fill: #ffffff!important;
}

/* Change the color of the arrow in the expanded state */
#accordionFlushExample .accordion-button:not(.collapsed)::after {
    fill: #ffffff!important;; 
}

.accordion-body p{
      font-size: 19px;
}

.education-text .card-header h5 {
    font-size: 22px;
}

.education-text .card-header p {
    color: #fff;
    font-size: 14px;
}

.education-text .card-body p {
    font-size: 14px;
}

.btn-website {
    font-size: 14px;
    padding: 7px 22px;
}

.contact-text h1{
    font-size: 37px;

}


.contact-text p{
        margin-top: 26px;
}